venv/
Data_Preprocessing/repos/
Data_Preprocessing/temp/
Data_Preprocessing/vocab.txt
Data_Preprocessing/.env
tree-sitter-codeviews/
Model/__pycache__/
Model_Pytorch/__pycache__/
Model_Pytorch/Utils/__pycache__/
Model_Pytorch/*.pt
Data/
.vscode/
Train.out
__pycache__/
