venv/
Data/
Data_Preprocessing/repos/
Data_Preprocessing/temp/
Data_Preprocessing/vocab.txt
Data_Preprocessing/.env
tree-sitter-codeviews/build/
tree-sitter-codeviews/vendor/
tree-sitter-codeviews/__pycache__/
tree-sitter-codeviews/.DS_Store
